<h1>This is my form</h1>

<form action="/Trades/Tradebootstrapform" method="post">
    <div class="mb-3">
        <label for="id1" class="form-label">Id</label>
        <input type="number" class="form-control" id="id" aria-describedby="emailHelp" name="Id">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="TradeName" class="form-label">TradeName</label>
        <input type="text" class="form-control" id="TradeName" name="TradeName">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
