@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
           
    <div class="col-md-4">

              <div class="card" style="width: 18rem;">
                    <img src="" class="card-img-top fixed-image-height" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Properties</h5>
                        <p class="card-text">mm</p>
                        <p class="card-text">m,m,</p>
                        <p class="card-text">nnmm</p>
                     
                         <a class="btn btn-info" asp-controller="Properties" asp-action="Index" asp-route-id=""><i class="bi bi-pencil-fill">View properties</i></a>
                                    </div>
                               </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top fixed-image-height" alt="">
            <div class="card-body">
                <h5 class="card-title">Tenancies</h5>
                <p class="card-text">mm</p>
                <p class="card-text">m,m,</p>
                <p class="card-text">nnmm</p>
                <a class="btn btn-info" asp-controller="Product" asp-action="AddEdit" asp-route-id=""><i class="bi bi-pencil-fill">Edit</i></a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top fixed-image-height" alt="">
            <div class="card-body">
                <h5 class="card-title">Suppliers</h5>
                <p class="card-text">mm</p>
                <p class="card-text">m,m,</p>
                <p class="card-text">nnmm</p>
                <a class="btn btn-info" asp-controller="Ingredient" asp-action="Index" asp-route-id=""><i class="bi bi-pencil-fill">View suppliers</i></a>
            </div>
        </div>
    </div>




                            </div>
                        </div>
 
          
 

